version: '3'

volumes:
  pg_data:
  static:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/backend_static
    depends_on:
      - db
  
  frontend:
    build: ./frontend/
    env_file: .env
    volumes:
      - static:/frontend_static
    command: >
      sh -c "npm run build && cp -r /app/build/. /frontend_static/ && tail -f /dev/null"
    depends_on:
      - backend
  
  gateway:
    build: ./gateway/
    env_file: .env
    volumes:
      - static:/staticfiles
    ports:
      - 8000:80
    depends_on:
      - backend
      - frontend
